<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Додај Ново Јадење</title>
</head>
<body>
<h2>Внеси детали за ново јадење</h2>

<form th:method="post"
      th:action="@{${dish != null} ? '/dishes/edit/' + ${dish.id} : '/dishes/add'}">

  <label for="dishId">ID на јадењето:</label>
  <input type="text" id="dishId" name="dishId" th:value="${dish != null ? dish.id : ''}"><br><br>

  <label for="name">Име на јадењето:</label>
  <input type="text" id="name" name="name" th:value="${dish != null ? dish.name : ''}" required><br><br>

  <label for="cuisine">Кујна:</label>
  <input type="text" id="cuisine" name="cuisine" th:value="${dish != null ? dish.cuisine : ''}" required><br><br>

  <label for="preparationTime">Време за подготовка (мин):</label>
  <input type="number" id="preparationTime" name="preparationTime" th:value="${dish != null ? dish.preparationTime : ''}" required><br><br>

<!--  <select name="chefId">-->
<!--    <option th:each="chef : ${chefs}" th:value="${chef.id}" th:text="${chef.firstName + ' ' + chef.lastName}"></option>-->
<!--  </select>-->

  <button type="submit">Зачувај Јадење</button>
</form>

<p><a th:href="@{/dishes}">Откажи и врати се на листата</a></p>
</body>
</html>